@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s ease, color 0.1s ease;
}

body {
  font-family: var(--font-space-mono);
}

[data-theme="light"] {
  --color-primary: #f2f9ff;
  --color-secondary: #ffffff;
  --color-text-base: #000000;
  --color-text-base-secondary: #141414;
}

/* Dark theme */
[data-theme="dark"] {
  --color-primary: #000000;
  --color-secondary: #3d3d3d;
  --color-text-base: #ffffff;
  --color-text-base-secondary: #dddddd;
}
/* Retro theme */
[data-theme="retro"] {
  --color-primary: #9f5255;
  --color-secondary: #fffdec;
  --color-text-base: #000000;
  --color-text-base-secondary: #141414;
}
