@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s ease, color 0.1s ease;
}

body {
  font-family: var(--font-space-mono);
}

/* Dark theme */
[data-theme="dark"] {
  --color-primary: #000000;
  --color-secondary: #3d3d3d;
  --color-text-base: #ffffff;
  --color-text-base-secondary: #dddddd;
}
[data-theme="light"] {
  --color-primary: #eeeeee;
  --color-secondary: #ffffff;
  --color-text-base: #000000;
  --color-text-base-secondary: #141414;
}

/* Retro theme */
[data-theme="retro"] {
  --color-primary: #c98686;
  --color-secondary: #fffcdf;
  --color-text-base: #000000;
  --color-text-base-secondary: #141414;
}

.my-stack-height {
  --window-bar-height: 24px;
  height: calc(100% - var(--window-bar-height));
}
